{% extends 'base_plataforma.html' %}
{% load static  %}


{% block 'nav' %}
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">E-HEALTH MONITOR</a>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'dados_paciente' user.id   %}">Perfil</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'sair' %}">Sair</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block 'plataforma' %}
    {% if messages %}
            <br>
            {% for message in messages %}
                <div class="alert {{message.tags}}">
                    {{message}}
                </div>
            {% endfor %}
    {% endif %}

    <br>
    <div>
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modal">Novo paciente</button>
        <!-- <div class="side-by-side">
            </div> -->
            <!-- <div class="side-by-side">
                <a type="button" class="btn btn-outline-success" href="#" >Novo Médico</a>
            </div> -->
        </div>
        
        <br>
        <br>

        <div class='row'>
            {% for paciente in pacientes_user %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem; background-color: #EAEAEA; min-height: 305px; max-height: 305px;">
                    <div>
                        {% if paciente.foto_perfil == '' %}
                            {% if paciente.sexo == 'M' %}
                                <img class="foto-perfil" src="{% static 'e_health/img/perfil2.png' %}">
                            {% else %}
                                <img class="foto-perfil" src="{% static 'e_health/img/perfil1.png' %}">
                            {% endif %}
                        {% else %}
                            <img class="foto-perfil" src="{{ paciente.foto_perfil.url }}">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ paciente.nome }}</h5> 
                        <div>
                            <div class="side-by-side">
                                <a class="button side-by-side-button" href="{% url 'dados_paciente' paciente.usuario.id %}">DADOS</a>
                            </div>
                            <!-- <div class="side-by-side">
                                <a class="button side-by-side-button" href="#">PLANO ALIMENTAR</a>
                            </div> -->
                        </div>
                    </div>
                </div>
                <br>
            </div>
            {% endfor %}
        </div>
            

        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title titulo" id="exampleModalLabel">Cadastrar paciente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <form action="{% url 'pacientes' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <br>
                        <label>Adicione um novo paciente</label>
                        <select name="paciente" class="form-control">
                            {% for pac in pacientes %}
                                <option value="{{pac.usuario.id}}">{{ pac.usuario }}</option>
                            {% endfor %}
                            </select>
                        <br>
                        <input type="submit" class="btn btn-success btn-lg" value="Registar">
                    
                    </form>


                </div>
            
            </div>
        </div>
    </div>
{% endblock%}