{% extends 'base.html' %}
{% load static  %}

{% block 'head' %}

    <link rel="stylesheet" href="{% static 'e_health/css/css.css' %}">
    <link rel="stylesheet" href="{% static 'e_health/css/plano_alimentar.css' %}">

{% endblock %}

{% block 'body' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <a href="{% url 'pacientes' %}" class="link-lateral">
                    <div class="card-lateral">
                        <img src="{% static 'e_health/img/paciente.png' %}">
                        <br>
                        <br>
                  
                        <h3>Pacientes</h3>
                    </div>
                  </a>                  
                  <!-- <a href="#" class="link-lateral">
                    <div class="card-lateral">
                        <img src="{% static 'e_health/img/dados_paciente.png' %}">
                        <br>
                        <br>
                  
                        <h3>Médicos</h3>
                    </div>
                  </a> -->
            </div>

            <div class="col-md-8">
                {% block 'plataforma' %}


                {% endblock %}
            </div>

        </div>
    </div>
{% endblock%}